/* ===========================
   RESET E CONFIGURAÇÕES GERAIS
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width:100%;
    display:block;
}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
}

html{
    scroll-behavior:smooth;
}

:root{
    --background:#09090B;
    --purple-dark:#4C1D95;
    --purple:#6D28D9;
    --text:#F8FAFC;
}

body{
    color:var(--text);

    background:
    radial-gradient(circle at top,var(--purple-dark) 0%,transparent 35%),
    radial-gradient(circle at bottom right,var(--purple) 0%,transparent 30%),
    var(--background);

    overflow-x:hidden;
}

body{
    font-family:'Poppins',sans-serif;
    color:var(--text);
}

/* ===========================
   MENU
=========================== */

header{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 8%;

header{
    background:var(--glass);
    border-bottom:1px solid var(--border);
}

.logo{
    color:var(--purple-light);
}

.navbar a:hover{
    color:var(--purple-light);
}

}

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:24px;

font-weight:700;

color:#A855F7;

text-decoration:none;

}

.navbar ul{

display:flex;

gap:28px;

list-style:none;

}

.navbar a{
    color:var(--text);
    text-decoration:none;
    font-weight:500;
    transition:color .3s ease;
}

.navbar a:hover{

color:#A855F7;

}

/* ===========================
   HOME
=========================== */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:140px 8% 80px;

    text-align:center;

}

.hero-content{

    max-width:800px;

    text-align:center;

}

.mini{

    color:#A855F7;

    font-size:18px;

}

.hero h1{

font-size:72px;

font-weight:700;

margin:20px 0;

line-height:1.1;

}

.hero h1 span{

  text-shadow: 0 0 25px rgba(168,85,247,.45);

color:#A855F7;

}

.hero h2{

font-size:30px;

color:#C084FC;

margin-bottom:25px;

min-height:40px;

}

.hero p{

    line-height:1.8;

    color:#CBD5E1;

}

/* ===========================
   BOTÕES
=========================== */

.buttons{

display:flex;

justify-content:center;

gap:18px;

margin-top:35px;

flex-wrap:wrap;

}

.buttons a{

padding:15px 28px;

background:linear-gradient(135deg,#7C3AED,#A855F7);

border-radius:14px;

color:white;

font-weight:600;

text-decoration:none;

transition:.35s;

box-shadow:0 10px 25px rgba(168,85,247,.25);

}

.buttons a:hover{

transform:translateY(-5px);

box-shadow:0 15px 35px rgba(168,85,247,.45);

}

/* ===========================
   SEÇÕES
=========================== */

section{

    padding:100px 10%;

}

section h2{

font-size:42px;

margin-bottom:60px;

text-align:center;

position:relative;

color:white;

}

section h2::after{

content:"";

width:70px;

height:4px;

background:#A855F7;

display:block;

margin:15px auto;

border-radius:50px;

}

/* ===========================
   SOBRE
=========================== */

#sobre p{

    max-width:850px;

    margin:auto;

    text-align:center;

    line-height:2;

    color:#CBD5E1;

}

/* ===========================
   TECNOLOGIAS
=========================== */

.tech-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:25px;

margin-top:40px;

}

.card{

background:#111827;

padding:28px;

border-radius:20px;

text-align:center;

transition:.4s;

border:1px solid rgba(168,85,247,.25);

}

.card:hover{

transform:translateY(-10px);

box-shadow:0 15px 35px rgba(168,85,247,.35);

border-color:#A855F7;

}

.card i{

font-size:45px;

color:#A855F7;

margin-bottom:20px;

}

.card h3{

margin 99-bottom:15px;

font-size:20px;

}

.card p{

color:#CBD5E1;

line-height:1.7;

}

/* ===========================
   PROJETO
=========================== */

.project-card{

    background:#1E293B;

    padding:40px;

    border-radius:20px;

    max-width:900px;

    margin:auto;

    border:1px solid rgba(168,85,247,.3);

}

.project-card h3{

    color:#A855F7;

    margin-bottom:20px;

}

.project-card p{

    color:var(--text-secondary);

    line-height:1.8;

}

/* ===========================
   CONTATO
=========================== */

#contato{

    text-align:center;

}

#contato p{

    margin:20px;

  color:#CBD5E1;

}

.contact-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-top:40px;

}

.contact-card{

background:#111827;

padding:30px;

border-radius:18px;

text-align:center;

transition:.35s;

border:1px solid rgba(168,85,247,.25);

}

.contact-card:hover{

transform:translateY(-8px);

box-shadow:0 12px 30px rgba(168,85,247,.3);

}

.contact-card i{

font-size:42px;

margin-bottom:18px;

color:#A855F7;

}

.contact-card a{

display:inline-block;

margin-top:15px;

padding:12px 20px;

background:#A855F7;

color:#fff;

text-decoration:none;

border-radius:10px;

font-weight:600;

transition:.3s;

}

.contact-card a:hover{

background:#9333EA;

transform:translateY(-3px);

box-shadow:0 8px 20px rgba(168,85,247,.35);

}

/* ===========================
   RODAPÉ
=========================== */

footer{

    text-align:center;

    padding:40px;

    background:#111827;

    color:#94A3B8;

}

/* ===========================
   RESPONSIVO
=========================== */

@media(max-width:768px){

.hero h1{

font-size:45px;

}

.hero h2{

font-size:22px;

}

.navbar{

flex-direction:column;

gap:20px;

}

nav{

flex-wrap:wrap;

justify-content:center;

}

}

/* HERO MODERNA */

.badge{

display:inline-block;

padding:10px 18px;

background:rgba(168,85,247,.15);

border:1px solid #A855F7;

border-radius:999px;

margin-bottom:25px;

color:#C084FC;

font-size:.9rem;

}

.hero h1 span{

color:#A855F7;

}

.hero-description{

max-width:700px;

margin:30px auto;

font-size:18px;

line-height:1.9;

}

.hero-info{

display:flex;

justify-content:center;

gap:25px;

margin-top:60px;

flex-wrap:wrap;

}

.hero-info div{

background:#162033;

padding:20px;

width:180px;

border-radius:20px;

border:1px solid rgba(168,85,247,.2);

transition:.4s;

}

.hero-info div:hover{

transform:translateY(-8px);

border-color:#A855F7;

box-shadow:0 0 25px rgba(168,85,247,.3);

}

.hero-info h3{

font-size:32px;

margin-bottom:10px;

}

.card h3{

font-size:45px;

margin-bottom:20px;

}

.card h4{

margin-bottom:15px;

font-size:22px;

color:#A855F7;

}

.card p{

color:#CBD5E1;

line-height:1.6;

font-size:15px;

}

.stats{

display:flex;

justify-content:center;

gap:30px;

margin-top:60px;

flex-wrap:wrap;

}

.stats div{

background:#162033;

padding:30px;

width:220px;

border-radius:18px;

text-align:center;

border:1px solid rgba(168,85,247,.2);

transition:.4s;

}

.stats div:hover{

transform:translateY(-8px);

border-color:#A855F7;

}

.stats h3{

font-size:34px;

color:#A855F7;

margin-bottom:10px;

}

.hero-cards{

display:flex;

justify-content:center;

gap:25px;

margin-top:60px;

flex-wrap:wrap;

}

.hero-card{

width:180px;

padding:25px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(10px);

border-radius:20px;

border:1px solid rgba(168,85,247,.2);

transition:.4s;

}

.hero-card:hover{

transform:translateY(-8px);

border-color:#A855F7;

box-shadow:0 0 25px rgba(168,85,247,.3);

}

.hero-card h3{

font-size:36px;

margin-bottom:15px;

}

section{

animation:fade .8s ease;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.project{

display:flex;

gap:50px;

align-items:center;

margin-top:70px;

flex-wrap:wrap;

}

.project-image{

flex:1;

display:flex;

justify-content:center;

}

.project-placeholder{

width:260px;

height:260px;

border-radius:30px;

display:flex;

justify-content:center;

align-items:center;

font-size:90px;

background:linear-gradient(135deg,#6D28D9,#9333EA);

box-shadow:0 0 35px rgba(168,85,247,.35);

}

.project-content{

flex:1;

}

.project-tag{

display:inline-block;

padding:8px 18px;

background:rgba(168,85,247,.15);

color:#C084FC;

border-radius:999px;

margin-bottom:20px;

}

.project-content h3{

font-size:42px;

margin-bottom:20px;

}

.project-content p{

line-height:1.9;

margin-bottom:25px;

}

.project-stack{

display:flex;

flex-wrap:wrap;

gap:12px;

margin:20px 0;

}

.project-stack span{

background:#1E293B;

padding:10px 18px;

border-radius:50px;

font-size:14px;

font-weight:500;

transition:.3s;

}

.project-stack span:hover{

background:#A855F7;

transform:translateY(-3px);

}

.project-content ul{

line-height:2;

margin-bottom:35px;

}

.project-buttons{

display:flex;

gap:15px;

flex-wrap:wrap;

margin-top:35px;

}

.project-buttons{

display:flex;

gap:15px;

flex-wrap:wrap;

margin-top:35px;

}

.project-buttons a{

padding:14px 26px;

border-radius:12px;

text-decoration:none;

font-weight:600;

transition:.3s;

display:flex;

align-items:center;

gap:10px;

}

.project-buttons a:first-child{

background:#A855F7;

color:white;

}

.project-buttons a:last-child{

background:transparent;

border:2px solid #A855F7;

color:#A855F7;

}

.project-buttons a:hover{

transform:translateY(-5px);

box-shadow:0 10px 20px rgba(168,85,247,.3);

}

.skill{

margin:35px auto;

max-width:700px;

}

.skill p{

margin-bottom:10px;

font-weight:600;

}

.progress{

height:12px;

background:#1E293B;

border-radius:50px;

overflow:hidden;

}

.progress div{

height:100%;

background:linear-gradient(90deg,#7C3AED,#C084FC);

border-radius:50px;

}

#topo{

position:fixed;

right:25px;

bottom:25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#A855F7;

color:white;

font-size:22px;

cursor:pointer;

box-shadow:0 0 20px rgba(168,85,247,.4);

transition:.3s;

}

#topo:hover{

transform:scale(1.1);

}

.hidden{

opacity:0;

transform:translateY(70px);

transition:all .8s ease;

}

.show{

opacity:1;

transform:translateY(0);

}

footer{

margin-top:120px;

padding:60px 30px;

text-align:center;

background:#07070A;

border-top:1px solid rgba(168,85,247,.15);

}

footer h3{

font-size:30px;

margin-bottom:15px;

color:#A855F7;

}

.social{

margin:30px 0;

display:flex;

justify-content:center;

gap:25px;

}

.social a{

font-size:30px;

color:white;

transition:.3s;

}

.social a:hover{

color:#A855F7;

transform:translateY(-5px);

}

.project-status{

display:flex;

gap:12px;

flex-wrap:wrap;

margin:20px 0;

}

.project-status span{

padding:8px 16px;

border-radius:30px;

background:rgba(168,85,247,.15);

color:#C084FC;

font-size:14px;

}

.btn-primary{
    background:#A855F7;
    color:white;
}

.btn-primary:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(168,85,247,.45);
}

.btn-secondary{
    background:transparent;
    color:#A855F7;
    border:2px solid #A855F7;
}

.btn-secondary:hover{
    background:#A855F7;
    color:white;
    transform:translateY(-3px);
}

@media (max-width:768px){

    .tech-grid{

        grid-template-columns:1fr;

    }

}

.info-card:hover{

transform:translateY(-8px);

box-shadow:0 12px 35px rgba(168,85,247,.35);

}

.timeline{

max-width:900px;

margin:auto;

position:relative;

padding-left:30px;

}

.timeline::before{

content:"";

position:absolute;

left:10px;

top:0;

bottom:0;

width:3px;

background:#A855F7;

}

.timeline-item{

position:relative;

margin-bottom:40px;

}

.timeline-dot{

width:18px;

height:18px;

background:#A855F7;

border-radius:50%;

position:absolute;

left:-29px;

top:6px;

box-shadow:0 0 20px #A855F7;

}

.timeline-content{

background:#111827;

padding:25px;

border-radius:15px;

border:1px solid rgba(168,85,247,.3);

}

.timeline-content h3{

margin-bottom:10px;

}

.timeline-content span{

color:#A855F7;

font-size:14px;

display:block;

margin-bottom:15px;

                      }
